cchardet
ujson
urllib3
requests
lxml
scrapy
selenium
beautifulsoup4
pymongo
pymysql
pika
python-dateutil
xlrd
imapclient
django
django-oauth-toolkit
django-cors-middleware
numpy
opencv-python
Pillow
piltesseract
pytesseract
pycryptodome
psutil
filelock
spp
